[package]
name = "profiler"
version = "0.1.0"
edition = "2021"

[lib]
name = "profiler"
path = "src/lib.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
prost = "0.12"
# Only necessary if using Protobuf well-known types:
prost-types = "0.12"
bytes = "1.5.0"
flate2 = "1.0.28"
hex = "0.4.3"
starknet_api = "0.7.0-dev.0"
clap = { version = "4.4.7", features = ["derive"] }
serde = { version = "1.0.195", features = ["derive"] }
serde_json = "1.0.111"
camino = { version = "1.1.4", features = ["serde1"] }
anyhow = "1.0"


[dev-dependencies]
assert_fs = "1.1.1"
project-root = "0.2.2"
snapbox = "0.4.16"

[build-dependencies]
prost-build = { version = "0.12" }

[[bin]]
name = "cairo-profiler"
path = "src/main.rs"
